<head>
	<title>Expenses Application</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="js/app.js"></script>
	<script src="js/routes.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/controllers/registerController.js"></script>
	<script src="js/factories/usersFactory.js"></script>
	<script src="js/factories/validationFactory.js"></script>
    <script src="js/factories/projectFactory.js"></script>
    <script src="js/controllers/projectController.js"></script>
	<script src="js/controllers/homeController.js"></script>
	<script src="js/factories/createReportFactory.js"></script>
	<script src="js/controllers/createReportController.js"></script>
	<script src="js/factories/validationFactory.js"></script>
	<script src="js/values/regexValues.js"></script>
	<!--<link href="toastr.css" rel="stylesheet"/>
	<script src="toastr.js"></script>-->

	<!-- Your scripts here -->
</head>
<body ng-app="myApp">
	<h1>Expense Report Application</h1>
	<ui-view></ui-view>

</body>