<head>
	<title>Expenses Application</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	
	<!--<link href="toastr.css" rel="stylesheet"/>
	<script src="toastr.js"></script>-->

	<!-- Your scripts here -->
</head>
<body>
	<h1>Expense Report Application</h1>
	<div class="container">
		<div class="page-header">
			<button id="registerBtn"  class="pull-right"><a href="/register">Register a New Account</a></button>
			<h3>Login to your Expense account </h3>
		</div>
		<form name="f" action="/login" method="post">  
		<div class="row">
			<div class="col-lg-2"></div>
				<div class="col-lg-5">
					<div class="well well-sm">
					<div class="form-group">
						<label for="username">Enter Username</label>
						<div class="input-group">
							<input ng-model="user.userEmail" type="text" class="form-control" name="username" id="username" placeholder="Enter Email" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="password">Enter Password</label>
						<div class="input-group">
							<input ng-model="user.userPassword" type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						</div>
					</div>
					<button type="submit" name="submit" id="loginSubmit" class="btn btn-success pull-right">Log In</button>
					</div>
					<div class="error" id="loginError"></div>
				</div>
		</div>
		</form>
	</div>
</body>
</html>