<head>
	<title>Expenses Application</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/controllers/registerController.js"></script>
	<script src="js/factories/usersFactory.js"></script>
	<script src="js/factories/validationFactory.js"></script>
	<script src="js/values/regexValues.js"></script>
	<!--<link href="toastr.css" rel="stylesheet"/>
	<script src="toastr.js"></script>-->
	
	<!-- Your scripts here -->
</head>
<body ng-app="myApp" ng-controller="registerCtrl">
	<h1>Expense Report Application</h1>
	<div class="container">
		<div class="page-header">
			<h3>Register a New Expense account </h3>
		</div>
		<div class="row">
			<div class="col-lg-2"></div>
				<div class="col-lg-5">
					<div class="well well-sm">
					<div class="form-group">
						<label for="InputUsername">Enter User Email</label>
						<div class="input-group">
							<input type="text" ng-model="user.userEmail" class="form-control" name="InputUsername" id="registerUsername" placeholder="Enter User Email" required ng-blur="validateEmailOnBlur(user.userEmail)">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						</div>
						<div class="validationError" ng-show="emailIsInvalid">
							<p>Please enter a valid email address.</p>
						</div>
						<div ng-show="!emailIsInvalid">
							<br/>
						</div>
					</div>
					<div class="form-group">
						<div>
						<label for="InputPassword">Enter Password</label>
						<div class="input-group">
							<input type="password" ng-model="user.userPassword" class="form-control" id="registerPassword" name="InputPassword" placeholder="Enter Password" required ng-blur="validatePasswordOnBlur(user.userPassword)">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						</div>
						<div class="validationError" ng-show="passwordIsInvalid">
							<p>Please enter a valid password. Must have at least:</p>
							<p>8 characters, 1 capital character, 1 special characters and 1 number</p>
						</div>
						<div ng-show="!passwordIsInvalid">
							<br/><br/><br/>
						</div>
						</div>
						<div>
						<label for="InputPassword">Confirm Password</label>
						<div class="input-group">
							<input type="password" ng-model="user.confirmUserPassword" class="form-control" id="confirmPassword" name="InputPassword" placeholder="Confirm Password" required ng-blur="confirmPassword(user.userPassword, user.confirmUserPassword)">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						</div>
						<div class="validationError" ng-show="passwordsDiffer">
							<p>Passwords do not match.</p>
						</div>
						<div ng-show="!passwordsDiffer">
							<br/>
						</div>
						</div>
					</div>
						<button name="submit" id="registerSubmit" class="btn btn-success pull-right" ng-click="addUser(user)">Create</button>
						<a href="/login"><button name="cancel" id="RegisterCancel" class="btn btn-danger pull-right">Cancel</button></a>
					</div>
					<div class="error" id="registerError"></div>
				</div>
		</div>
	</div>

</body>
</html>